<%= form_with(model: @physician, local: true, class:'ui form') do |f| %>
  <div class= 'field'>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, required: true, placeholder:"Physician's First name" %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, required: true, placeholder:"Physician's Last name" %>
    <br />
    <%= f.submit nil, class:'ui purple button' %>
  </div>
<% end %>