<h1><%= "Dr. #{@physician.full_name}" %></h1>
<%= link_to "Edit", edit_physician_path %>
<%= link_to "delete", physician_path(@physician), method: :delete%>
<%= link_to "back", physicians_path%>

<h2>Appointments</h2>
<%= link_to "New Appointment", new_physician_appointment_path(@physician), class:'ui button' %>
<% @physician.appointments.each do |appointment| %>
<li><%= link_to appointment.patient.full_name,  edit_physician_appointment_path(@physician, appointment)%></li>
<li><%= appointment.date %></li>
<li><%= appointment.time %></li>
<%= link_to 'delete', physician_appointment_path(@physician, appointment.id), method: :delete%>
<%# I have no idea why this is taking the second and third arguments but not the first %>
<% end %>