<h1><%= "Dr. #{@physician.full_name}" %></h1>
<%= link_to "Edit", edit_physician_path %>
<%= link_to "delete", physician_path(@physician), method: :delete%>
<%= link_to "back", physicians_path%>

<h2>Patients</h2>
<%= "Placeholder for Patient list" %>
<%= link_to "Delete"%>

<h2>Appointments</h2>
<%= "placeholder for appointment list"%>
<%= link_to "Delete"%>
